@tailwind base;
@tailwind components;
@tailwind utilities;

.clip-path {
  clip-path: polygon(0 0, 100% 2%, 100% 90%, 0% 100%);
}

@media (min-width: 768px) {
  .clip-path {
    clip-path: polygon(0 0, 100% 2%, 100% 70%, 0% 100%);
  }
  
}